<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th class="span2"><%= t('user') %></th>
    <th class="span9"><%= t('comment') %></th>
    <th class="span1"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user.username %></td>
      <td><%= comment.comment %></td>
      <td>
        <% if can_delete? comment %>
          <%= link_to t('delete'),
                      comment_path(comment),
                      method: :delete,
                      data: {confirm: t('comment_deletion_confirmation')},
                      class: 'btn btn-danger btn-small' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>