<div class="row">
  <div class="span12">
    <%= form_for :new_comment, url: comment_index_path, html: {class: 'form-horizontal well'} do |f| %>
      <div class="control-group">
        <%= f.label :comment, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :comment, class: 'input-xxlarge', rows: 3 %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t('add_comment'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>