<div class="container">
  <div class="topbar-padding"></div>

  <div class="row">
    <div class="span8 offset2">
      <%= form_for :authentication, url: login_path, html: {class: 'form-horizontal well'} do |f| %>
        <%= render :partial => 'shared/messages' %>

        <div class="control-group">
          <%= f.label :username, class: 'control-label' %>
          <div class="controls">
          <%= f.text_field :username, class: 'input-large' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, class: 'input-large' %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit t('log_in'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>