<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand"><%= t('app_name') %></span>
      <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav pull-right" id="main-menu-right">
          <li><%= link_to t('log_out'), logout_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="topbar-padding"></div>