<% content_for :content do %>
  <div class="container">
    <%= render :partial => 'layouts/top_menu' %>
    <%= render :partial => 'shared/messages' %>
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>